@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway&display=swap');

@media (min-width:587px) {
  .App {
    width: 786px;
    margin: 100px auto;
    font-family: 'Raleway', sans-serif;
    display: flex;
  }

  .nav-cont {
    width: 150px;
    display: inline-block;
    color: rgb(103, 103, 103);
    text-align: center;

  }

  .alogo-cont {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 50px;
    border: 3px solid black;
  }

  .content {
    width: 605px;
    height: 400px;
    color: black;
    text-align: left;
  }

  .App-link {
    color: rgb(82, 82, 82);
    text-align: center;
    text-decoration: none;
    font-weight: 600;

  }

  .p-App-link {
    margin: 15px 30px;
    padding: 7px;
    border-radius: 5px;

  }

  .p-App-link:hover {
    color: black;
    background-color: rgb(243, 243, 243);
  }

  .App-link:hover {
    color: black;
  }
}







@media (max-width:586px) {
  * {
    font-size: xx-large;
    margin: 0px;
  }

  .App {
    width: 100%;
    /* margin: 20px auto; */
    font-family: 'Raleway', sans-serif;
    /* display: flex; */
    /* margin:0px auto; */
  }

  .nav-cont {
    /* width:150px; */
    width: 100%;
    display: inline-block;
    color: rgb(103, 103, 103);
    /* text-align: center;
   */
    /* margin:20px ; */
    padding: 20px 10px;
    position: fixed;
    background-color: white;


  }

  .nav-option {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
  }

  .alogo-cont {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 50px;
    border: 3px solid black;
    margin-left: 15px;
  }

  .content {
    width: 605px;
    /* height: 400px; */
    /* background-color: rgb(0, 136, 255); */
    color: black;
    text-align: left;
  }

  .App-link {
    color: rgb(82, 82, 82);
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: xx-large;
  }

  .p-App-link {
    /* margin: 0px 15px; */
    padding: 15px;
    border-radius: 5px;

  }

  .p-App-link:hover {
    /* border: 1px solid black; */
    color: black;
    background-color: rgb(243, 243, 243);
  }

  .App-link:hover {
    color: black;
  }
}